body{
    font-family:'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}

h1 { 
    text-align: center;
    color: #333;
}

#lista { 
    list-style-type: none;
    padding: 0px;
}

#lista li {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#lista li:last-child {
    border-bottom: none;
}

#lista li input[type="checkbox"] {
    margin-right: 10px;
}

#lista li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #888;
}

#lista li label {
    flex-grow: 1;
}